<section class="order about" >
  <div class="container">
    <div >
      <div class="order-text-title double-title"><span>Лучшая</span> итальянаская пицца!</div>

      <div class="order-text-message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi
        consequatur corporis, dolor facere ipsam ipsum itaque iure laudantium magnam maxime molestias pariatur
        perferendis perspiciatis quidem repellendus reprehenderit, sapiente velit voluptatibus.Lorem ipsum dolor
        sit amet, consectetur adipisicing elit. Commodi consequatur corporis, dolor facere ipsam ipsum itaque iure
        laudantium magnam maxime molestias pariatur perferendis perspiciatis quidem repellendus reprehenderit,
        sapiente velit voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequatur
        corporis, dolor facere ipsam ipsum itaque iure laudantium magnam maxime molestias pariatur perferendis
        perspiciatis quidem repellendus reprehenderit, sapiente velit voluptatibus.Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Commodi consequatur corporis, dolor facere ipsam ipsum itaque iure laudantium
        magnam maxime molestias pariatur perferendis perspiciatis quidem repellendus reprehenderit, sapiente velit
        voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequatur corporis, dolor
        facere ipsam ipsum itaque iure laudantium magnam maxime molestias pariatur perferendis perspiciatis quidem
        repellendus reprehenderit, sapiente velit voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Commodi consequatur corporis, dolor facere ipsam ipsum itaque iure laudantium magnam maxime molestias
        pariatur perferendis perspiciatis quidem repellendus reprehenderit, sapiente velit voluptatibus.Lorem ipsum
        ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequatur corporis, dolor facere ipsam ipsum
        itaque iure laudantium magnam maxime molestias pariatur perferendis perspiciatis quidem repellendus
        reprehenderit, sapiente velit voluptatibus.
      </div>
    </div>
    <div class="about-image">
      <img src="../../../../assets/images/pizza_big.png" alt="Pizza">
      <img src="../../../../assets/images/pizza_big.png" alt="Pizza">
    </div>
  </div>
</section>
<app-popup data = 'main component'></app-popup>
